# Relay Churn Rate

This notebook tries to show the churn rate of relays within the Tor network.

The first thing we are going to do is to include Stem's `parse_file` function that allows us to easily parse various documents from the collector store.

In [44]:
from stem.descriptor import parse_file

import os
import binascii

We define a number of constants that we will use throughout the notebook:

In [45]:
DATA_DIR = "/home/user/stem-collector-data"

Next we build our data structure that we are going to use for the computations later. The resulting structure will be a map of a `(year, month)` tuple to a set of relay fingerprints.

This part is going to read around 120 GB of data, so it takes around 6 hours on my laptop. The pickled result is around 63 MB of data.

In [70]:
data = {}

for file in sorted(os.listdir(DATA_DIR)):
    year, month = tuple(file.strip("consensus-").strip(".tar").split("-"))
    year = int(year)
    month = int(month)
    print("{}: Reading {}/{}".format(datetime.datetime.now(), year, month))
    relays = set()
    
    for relay in parse_file("{}/{}".format(DATA_DIR, file)):
        fingerprint = relay.fingerprint

        if "Running" not in relay.flags:
            continue
        
        relays.add(fingerprint)
        
    data[(year, month)] = {
        "relays": relays,
    }

2020-02-08 00:32:16.867441: Reading 2007/10
2020-02-08 00:32:28.174948: Reading 2007/11
2020-02-08 00:33:41.539700: Reading 2007/12
2020-02-08 00:35:33.150632: Reading 2008/1
2020-02-08 00:37:55.426752: Reading 2008/2
2020-02-08 00:40:06.913897: Reading 2008/3
2020-02-08 00:42:02.437945: Reading 2008/4
2020-02-08 00:43:40.791636: Reading 2008/5
2020-02-08 00:45:29.378677: Reading 2008/6
2020-02-08 00:47:22.598613: Reading 2008/7
2020-02-08 00:49:15.655111: Reading 2008/8
2020-02-08 00:50:55.059184: Reading 2008/9
2020-02-08 00:52:20.135707: Reading 2008/10
2020-02-08 00:53:37.363678: Reading 2008/11
2020-02-08 00:54:43.682661: Reading 2008/12
2020-02-08 00:55:51.939733: Reading 2009/1
2020-02-08 00:57:02.572578: Reading 2009/2
2020-02-08 00:58:07.567234: Reading 2009/3
2020-02-08 00:59:27.046225: Reading 2009/4
2020-02-08 01:00:52.746923: Reading 2009/5
2020-02-08 01:02:24.660058: Reading 2009/6
2020-02-08 01:04:04.171033: Reading 2009/7
2020-02-08 01:05:57.002750: Reading 2009/8
2020-02-08 01:07:28.136473: Reading 2009/9
2020-02-08 01:08:53.812114: Reading 2009/10
2020-02-08 01:10:20.578517: Reading 2009/11
2020-02-08 01:11:51.604245: Reading 2009/12
2020-02-08 01:13:34.058053: Reading 2010/1
2020-02-08 01:15:26.376799: Reading 2010/2
2020-02-08 01:17:14.734484: Reading 2010/3
2020-02-08 01:19:03.169704: Reading 2010/4
2020-02-08 01:20:24.096894: Reading 2010/5
2020-02-08 01:21:55.960403: Reading 2010/6
2020-02-08 01:23:30.428878: Reading 2010/7
2020-02-08 01:25:25.125228: Reading 2010/8
2020-02-08 01:27:30.522665: Reading 2010/9
2020-02-08 01:29:38.799611: Reading 2010/10
2020-02-08 01:31:41.109571: Reading 2010/11
2020-02-08 01:33:18.344053: Reading 2010/12
2020-02-08 01:35:01.005897: Reading 2011/1
2020-02-08 01:37:13.058679: Reading 2011/2
2020-02-08 01:39:46.953907: Reading 2011/3
2020-02-08 01:42:24.286577: Reading 2011/4
2020-02-08 01:44:41.507816: Reading 2011/5
2020-02-08 01:46:50.369585: Reading 2011/6
2020-02-08 01:49:03.288166: Reading 2011/7
2020-02-08 01:51:08.015154: Reading 2011/8
2020-02-08 01:53:22.649628: Reading 2011/9
2020-02-08 01:55:33.648783: Reading 2011/10
2020-02-08 01:57:33.438057: Reading 2011/11
2020-02-08 01:59:27.735068: Reading 2011/12
2020-02-08 02:02:06.850429: Reading 2012/1
2020-02-08 02:05:06.001063: Reading 2012/2
2020-02-08 02:08:25.071400: Reading 2012/3
2020-02-08 02:11:13.955824: Reading 2012/4
2020-02-08 02:14:15.100670: Reading 2012/5
2020-02-08 02:17:44.892399: Reading 2012/6
2020-02-08 02:20:19.344008: Reading 2012/7
2020-02-08 02:23:22.759573: Reading 2012/8
2020-02-08 02:27:03.816461: Reading 2012/9
2020-02-08 02:31:16.869575: Reading 2012/10
2020-02-08 02:34:31.032022: Reading 2012/11
2020-02-08 02:37:26.325792: Reading 2012/12
2020-02-08 02:40:23.233054: Reading 2013/1
2020-02-08 02:43:36.679712: Reading 2013/2
2020-02-08 02:46:31.262684: Reading 2013/3
2020-02-08 02:49:32.273319: Reading 2013/4
2020-02-08 02:52:31.331232: Reading 2013/5
2020-02-08 02:55:30.063706: Reading 2013/6
2020-02-08 02:58:40.971286: Reading 2013/7
2020-02-08 03:01:51.357847: Reading 2013/8
2020-02-08 03:05:30.500630: Reading 2013/9
2020-02-08 03:09:18.015517: Reading 2013/10
2020-02-08 03:13:00.427953: Reading 2013/11
2020-02-08 03:16:44.211732: Reading 2013/12
2020-02-08 03:21:07.257958: Reading 2014/1
2020-02-08 03:25:10.278366: Reading 2014/2
2020-02-08 03:28:56.979766: Reading 2014/3
2020-02-08 03:33:24.896921: Reading 2014/4
2020-02-08 03:37:11.096552: Reading 2014/5
2020-02-08 03:41:05.387360: Reading 2014/6
2020-02-08 03:45:26.034310: Reading 2014/7
2020-02-08 03:50:01.892698: Reading 2014/8
2020-02-08 03:55:09.138533: Reading 2014/9
2020-02-08 03:59:44.284369: Reading 2014/10
2020-02-08 04:05:08.314670: Reading 2014/11
2020-02-08 04:10:07.769667: Reading 2014/12
2020-02-08 04:15:35.139615: Reading 2015/1
2020-02-08 04:21:04.555841: Reading 2015/2
2020-02-08 04:26:09.933023: Reading 2015/3
2020-02-08 04:31:34.526824: Reading 2015/4
2020-02-08 04:36:50.168309: Reading 2015/5
2020-02-08 04:42:13.052408: Reading 2015/6
2020-02-08 04:47:25.958607: Reading 2015/7
2020-02-08 04:52:47.138678: Reading 2015/8
2020-02-08 04:57:50.160552: Reading 2015/9
2020-02-08 05:02:59.246617: Reading 2015/10
2020-02-08 05:08:05.597372: Reading 2015/11
2020-02-08 05:13:30.303765: Reading 2015/12
2020-02-08 05:18:55.272299: Reading 2016/1
2020-02-08 05:24:49.957574: Reading 2016/2
2020-02-08 05:30:03.104028: Reading 2016/3
2020-02-08 05:35:52.112380: Reading 2016/4
2020-02-08 05:41:25.192038: Reading 2016/5
2020-02-08 05:47:12.715197: Reading 2016/6
2020-02-08 05:52:42.071026: Reading 2016/7
2020-02-08 05:58:15.300086: Reading 2016/8
2020-02-08 06:03:53.539965: Reading 2016/9
2020-02-08 06:09:27.362985: Reading 2016/10
2020-02-08 06:15:16.474183: Reading 2016/11
2020-02-08 06:20:49.078679: Reading 2016/12
2020-02-08 06:26:49.987943: Reading 2017/1
2020-02-08 06:32:55.058794: Reading 2017/2
2020-02-08 06:38:44.502798: Reading 2017/3
2020-02-08 06:44:49.580704: Reading 2017/4
2020-02-08 06:51:14.285066: Reading 2017/5
2020-02-08 06:57:14.633390: Reading 2017/6
2020-02-08 07:03:22.309337: Reading 2017/7
2020-02-08 07:09:18.253978: Reading 2017/8
2020-02-08 07:15:17.561576: Reading 2017/9
2020-02-08 07:20:58.277693: Reading 2017/10
2020-02-08 07:26:39.062295: Reading 2017/11
2020-02-08 07:32:08.117021: Reading 2017/12
2020-02-08 07:37:38.915184: Reading 2018/1
2020-02-08 07:42:55.324075: Reading 2018/2
2020-02-08 07:47:43.327198: Reading 2018/3
2020-02-08 07:52:59.426606: Reading 2018/4
2020-02-08 07:58:26.429985: Reading 2018/5
2020-02-08 08:03:54.905259: Reading 2018/6
2020-02-08 08:09:19.679218: Reading 2018/7
2020-02-08 08:14:46.197880: Reading 2018/8
2020-02-08 08:20:24.276480: Reading 2018/9
2020-02-08 08:25:39.706393: Reading 2018/10
2020-02-08 08:31:15.867525: Reading 2018/11
2020-02-08 08:36:31.708579: Reading 2018/12
2020-02-08 08:42:10.018052: Reading 2019/1
2020-02-08 08:47:38.144153: Reading 2019/2
2020-02-08 08:52:51.082012: Reading 2019/3
2020-02-08 08:58:22.887560: Reading 2019/4
2020-02-08 09:04:02.674265: Reading 2019/5
2020-02-08 09:09:38.377309: Reading 2019/6
2020-02-08 09:15:12.963407: Reading 2019/7
2020-02-08 09:20:42.741288: Reading 2019/8
2020-02-08 09:26:26.777088: Reading 2019/9
2020-02-08 09:31:46.316906: Reading 2019/10
2020-02-08 09:37:02.919316: Reading 2019/11
2020-02-08 09:41:58.781098: Reading 2019/12
2020-02-08 09:47:34.386227: Reading 2020/1
2020-02-08 09:52:51.224379: Reading 2020/2

We convert the data we have collected into a Panda DataFrame using various set operations:

In [94]:
pd.set_option("display.max_rows", 500)

all_seen_relays = set()

last_month = set()

result = {
    "date": [],
    "relay_count_sum": [],
    "relay_count": [],
    "relay_new_count": [],
    "relay_return_count": [],
    "relay_lost_count": [],
}

for key in sorted(data.keys()):
    for kind in sorted(data[key].keys()):
        current_month = data[key][kind]
        year, month = key
    
        number_of_relays_seen = len(current_month)
        relay_new_count = len(current_month - all_seen_relays)
        
        # A returning relay is a relay we have seen before, but not last month.
        relay_return_count = len((current_month - last_month) & all_seen_relays)
        
        # A lost relay is one that was there last month, but not in current month.
        relay_lost_count = len(last_month - current_month)
        
        all_seen_relays.update(current_month)
        total_number_of_relays_seen = len(all_seen_relays)
    
        result["date"].append(datetime.datetime(year, month, 1))
        result["relay_count"].append(number_of_relays_seen)
        result["relay_count_sum"].append(total_number_of_relays_seen)
        result["relay_new_count"].append(relay_new_count)
        result["relay_return_count"].append(relay_return_count)
        result["relay_lost_count"].append(relay_lost_count)

        last_month = current_month
    
frame = pd.DataFrame.from_dict(result)
frame

,date,relay_count_sum,relay_count,relay_new_count,relay_return_count,relay_lost_count
0,2007-10-01,3239,3239,3239,0,0
1,2007-11-01,9273,8487,6034,0,786
2,2007-12-01,14650,8866,5377,37,5035
3,2008-01-01,20364,9462,5714,195,5313
4,2008-02-01,24337,7803,3973,243,5875
5,2008-03-01,28066,7571,3729,344,4305
6,2008-04-01,31171,6790,3105,315,4201
7,2008-05-01,34645,7087,3474,329,3506
8,2008-06-01,37934,6680,3289,340,4036
9,2008-07-01,41209,6699,3275,357,3613
10,2008-08-01,44877,6998,3668,343,3712
11,2008-09-01,48099,6557,3222,358,4021
12,2008-10-01,51064,6209,2965,324,3637
13,2008-11-01,53993,6057,2929,346,3427
14,2008-12-01,57241,6406,3248,348,3247
15,2009-01-01,60765,6667,3524,347,3610
16,2009-02-01,64284,6675,3519,305,3816
17,2009-03-01,68199,7195,3915,344,3739
18,2009-04-01,72272,7553,4073,339,4054
19,2009-05-01,76393,7923,4121,395,4146
20,2009-06-01,81838,9547,5445,404,4225
21,2009-07-01,85886,8751,4048,370,5214
22,2009-08-01,89542,8154,3656,427,4680
23,2009-09-01,92959,7724,3417,427,4274
24,2009-10-01,95932,6824,2973,372,4245
25,2009-11-01,99320,7087,3388,377,3502
26,2009-12-01,102841,7373,3521,375,3610
27,2010-01-01,106393,7404,3552,355,3876
28,2010-02-01,109304,6560,2911,285,4040
29,2010-03-01,112681,7161,3377,371,3147
30,2010-04-01,115735,6903,3054,321,3633
31,2010-05-01,119225,7338,3490,460,3515
32,2010-06-01,123004,7808,3779,424,3733
33,2010-07-01,126188,7300,3184,403,4095
34,2010-08-01,130038,8106,3850,445,3489
35,2010-09-01,133999,8548,3961,436,3955
36,2010-10-01,138337,9195,4338,478,4169
37,2010-11-01,141867,8233,3530,477,4969
38,2010-12-01,146309,9162,4442,566,4079
39,2011-01-01,151053,9875,4744,603,4634
40,2011-02-01,155004,9129,3951,478,5175
41,2011-03-01,158503,8541,3499,442,4529
42,2011-04-01,161773,8271,3270,492,4032
43,2011-05-01,165216,8478,3443,523,3759
44,2011-06-01,170013,9913,4797,571,3933
45,2011-07-01,173998,9543,3985,500,4855
46,2011-08-01,177884,9548,3886,573,4454
47,2011-09-01,181789,9510,3905,588,4531
48,2011-10-01,185972,9792,4183,602,4503
49,2011-11-01,190078,9239,4106,523,5182
50,2011-12-01,194111,9231,4033,564,4605
51,2012-01-01,199592,10610,5481,596,4698
52,2012-02-01,205946,11811,6354,499,5652
53,2012-03-01,210731,10672,4785,452,6376
54,2012-04-01,215190,10401,4459,480,5210
55,2012-05-01,219593,10456,4403,571,4919
56,2012-06-01,224344,10678,4751,569,5098
57,2012-07-01,228709,10366,4365,534,5211
58,2012-08-01,232985,10354,4276,579,4867
59,2012-09-01,237317,10465,4332,536,4757
60,2012-10-01,242187,10463,4870,454,5326
61,2012-11-01,248374,11776,6187,448,5322
62,2012-12-01,253017,10500,4643,507,6426
63,2013-01-01,257940,10966,4923,561,5018
64,2013-02-01,264416,12573,6476,492,5361
65,2013-03-01,269951,11781,5535,589,6916
66,2013-04-01,275354,11735,5403,550,5999
67,2013-05-01,280591,11739,5237,557,5790
68,2013-06-01,287188,13346,6597,598,5588
69,2013-07-01,294218,14467,7030,651,6560
70,2013-08-01,302327,16383,8109,740,6933
71,2013-09-01,309119,15384,6792,684,8475
72,2013-10-01,315361,14800,6242,762,7588
73,2013-11-01,322310,15688,6949,788,6849
74,2013-12-01,328128,14649,5818,800,7657
75,2014-01-01,333677,14296,5549,854,6756
76,2014-02-01,337848,13162,4171,708,6013
77,2014-03-01,342123,13343,4275,794,4888
78,2014-04-01,346976,14033,4853,732,4895
79,2014-05-01,350464,11173,3488,585,6933
80,2014-06-01,354883,12249,4419,600,3943
81,2014-07-01,359680,13606,4797,677,4117
82,2014-08-01,363420,12985,3740,602,4963
83,2014-09-01,367030,12687,3610,602,4510
84,2014-10-01,371216,13369,4186,589,4093
85,2014-11-01,375123,13245,3907,513,4544
86,2014-12-01,383753,18145,8630,517,4247
87,2015-01-01,387519,13493,3766,570,8988
88,2015-02-01,390031,12129,2512,439,4315
89,2015-03-01,392423,11855,2392,529,3195
90,2015-04-01,394642,11039,2219,397,3432
91,2015-05-01,397145,11147,2503,376,2771
92,2015-06-01,399666,11169,2521,475,2974
93,2015-07-01,402085,10993,2419,353,2948
94,2015-08-01,404523,10620,2438,332,3143
95,2015-09-01,407568,11213,3045,415,2867
96,2015-10-01,410573,11381,3005,376,3213
97,2015-11-01,413003,10984,2430,416,3243
98,2015-12-01,415665,11301,2662,338,2683
99,2016-01-01,418182,11359,2517,316,2775
100,2016-02-01,420301,10975,2119,295,2798
101,2016-03-01,422459,11062,2158,335,2406
102,2016-04-01,424354,10711,1895,279,2525
103,2016-05-01,426303,10586,1949,279,2353
104,2016-06-01,428161,10506,1858,301,2239
105,2016-07-01,430155,10652,1994,315,2163
106,2016-08-01,432378,10762,2223,320,2433
107,2016-09-01,434549,10755,2171,322,2500
108,2016-10-01,436521,10742,1972,338,2323
109,2016-11-01,438482,10474,1961,257,2486
110,2016-12-01,440397,10452,1915,283,2220
111,2017-01-01,442503,10631,2106,280,2207
112,2017-02-01,444345,10441,1842,243,2275
113,2017-03-01,446316,10535,1971,266,2143
114,2017-04-01,448289,10605,1973,211,2114
115,2017-05-01,450359,10806,2070,272,2141
116,2017-06-01,452285,10540,1926,263,2455
117,2017-07-01,454123,10407,1838,226,2197
118,2017-08-01,456070,10337,1947,272,2289
119,2017-09-01,457712,10070,1642,283,2192
120,2017-10-01,459886,10529,2174,315,2030
121,2017-11-01,462106,10474,2220,279,2554
122,2017-12-01,464290,10660,2184,360,2358
123,2018-01-01,466610,10681,2320,329,2628
124,2018-02-01,468669,10200,2059,295,2835
125,2018-03-01,470726,10223,2057,407,2441
126,2018-04-01,472770,10267,2044,330,2330
127,2018-05-01,474804,10328,2034,348,2321
128,2018-06-01,476711,10130,1907,292,2397
129,2018-07-01,478636,10303,1925,354,2106
130,2018-08-01,480432,10151,1796,320,2268
131,2018-09-01,482459,10521,2027,399,2056
132,2018-10-01,484456,10606,1997,337,2249
133,2018-11-01,486340,10517,1884,310,2283
134,2018-12-01,488154,10454,1814,325,2202
135,2019-01-01,490072,10543,1918,361,2190
136,2019-02-01,491754,10485,1682,324,2064
137,2019-03-01,493507,10540,1753,346,2044
138,2019-04-01,495215,10494,1708,301,2055
139,2019-05-01,496933,10530,1718,347,2029
140,2019-06-01,498366,10193,1433,302,2072
141,2019-07-01,499991,10217,1625,351,1952
142,2019-08-01,501565,10176,1574,366,1981
143,2019-09-01,503073,10023,1508,306,1967
144,2019-10-01,504985,10271,1912,334,1998
145,2019-11-01,506766,9705,1781,290,2637
146,2019-12-01,508676,9991,1910,355,1979
147,2020-01-01,510592,10085,1916,309,2131
148,2020-02-01,511024,7842,432,41,2716

The columns above tries to explain the following values:

- *date*: The first day of the given month.
- *relay_count_sum*: The total sum of different, unique, relays we have seen in the consensus at this given point in time.
- *relay_count*: The number of different, unique, relays we have seen in the consensus in the given month.
- *relay_new_count*: The number of relays that we have not seen before.
- *relay_return_count*: The number of relays that we have seen before, but that was not found last month, but has now returned.
- *relay_lost_count*: The number of relays that we saw last month, but that are gone in the current month.